.nav-bar{
    background: linear-gradient(to right, #0f172a, #1e293b);
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between  ;
    padding: 1rem 4rem 0 3rem;
    margin: 0;
    height: 15vh;
    
}
.nav-logo-container{
    display: flex;
    flex-direction: row;
    width: auto;
   
}   
.nav-logo{
    height: 4rem;

}
.nav-logo-content{
    font-size: 2rem;
    text-align: center;
    line-height: 0.5;
}
.nav-list-container{
    height: 100%;
}
.nav-list{
    display: flex;
    font-size: 1    rem;
    flex-direction: row;
    list-style: none;
    width: 100%;
    justify-content: space-between;
   
}
.nav-list-item{
    margin: 0 2rem;
}
.auth-buttons{
    display: flex;
    flex-direction: row;
}
.user-display{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 400;
    color: #fff;
    margin-top: .5rem;
}
.logout-button{
    margin-left: 1.5rem;
    padding: 0.5rem 2rem;
    font-size: 1.1rem;
    margin-top: .5rem;
    background-color: #4f46e5;
}
.login-button{
    padding: 0.5rem 2rem;
    font-size: 1.1rem;
    margin-top: .5rem;
    background-color: #4f46e5;
}   
.signup-button{
    margin-left: 1.5rem;
    margin-top: .5rem;  
    padding: 0.5rem 2rem;
    font-size: 1.1rem;
    background-color: #4f46e5;
}